<!-- wp:pattern {"slug":"entervia/banner-pro"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"entervia/trusted-patner-pro"} /-->
  <!-- wp:pattern {"slug":"entervia/about-us"} /-->
  <!-- wp:pattern {"slug":"entervia/features-pro"} /-->
  <!-- wp:pattern {"slug":"entervia/main-features"} /-->
  <!-- wp:pattern {"slug":"entervia/solutions"} /-->
  <!-- wp:pattern {"slug":"entervia/services"} /-->
  <!-- wp:pattern {"slug":"entervia/pricing"} /-->
  <!-- wp:pattern {"slug":"entervia/our-team"} /-->
  <!-- wp:pattern {"slug":"entervia/process"} /-->
  <!-- wp:pattern {"slug":"entervia/why-us"} /-->
  <!-- wp:pattern {"slug":"entervia/faq-pro"} /-->
  <!-- wp:pattern {"slug":"entervia/testimonials-pro"} /-->
  <!-- wp:pattern {"slug":"entervia/call-to-action"} /-->
  <!-- wp:pattern {"slug":"entervia/post"} /-->
  <!-- wp:pattern {"slug":"entervia/contact-us"} /-->
  <!-- wp:pattern {"slug":"entervia/contact-us-pro"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
